{% extends 'base.html' %} {% load static %} {% block own_css %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}" />
{% endblock %} {% block main %}
<div class="table-container">
    <table class="table custom-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>
                    <select>
                        <option value="almacenero">Almacenero</option>
                        <option value="administrador">Administrador</option>
                    </select>
                </td>
                <td class="btn-area">
                    <button class="btn-success custom-btn">Asignar</button>
                </td>
            </tr>

            <tr>
                <td>María García</td>
                <td>
                    <select>
                        <option value="almacenero">Almacenero</option>
                        <option value="administrador">Administrador</option>
                    </select>
                </td>
                <td class="btn-area">
                    <button class="btn-success custom-btn">Asignar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %} {% block own_js %}
<script type="module" src="{% static 'js/productos/usuarios.js' %}"></script>
{% endblock %}
