{% extends  'base.html'  %}
{% load static   %}

{%  block content    %}



<table class='table-auto border border-gray-400 w-full text-center' >
    <thead>
        <tr class='bg-gray-200'>
            <th class='border border-gray-400 px-4 py-2'>Animal</th>
            <th class='border border-gray-400 px-4 py-2'>Veterinario </th>
            <th class='border border-gray-400 px-4 py-2'>Fecha</th>
            <th class='border border-gray-400 px-4 py-2'>Vacuna </th>
            <th class='border border-gray-400 px-4 py-2'>Editar </th>
            <th class='border border-gray-400 px-4 py-2'>Eliminar </th>



        </tr>
    </thead>
    <tbody>
        {% for i in vacunas   %}
        <tr>
            
        
            <th class='border border-gray-400 px-4 py-2'>{{i.animalA}}</th>
            <th class='border border-gray-400 px-4 py-2'>{{i.veterinario}}</th> 
            <th class='border border-gray-400 px-4 py-2'>{{i.fecha_hora}}</th> 
            <th class='border border-gray-400 px-4 py-2'>{{i.vacuna.nombre}}</th>
            <th><a href={% url "editar_vacunacion" i.pk %}>Editar</a></th>
            <th class='text-red-700'><a href={% url "eliminar_atencionM" i.pk %}>Eliminar</a></th>
           
        </tr>


         
       
 
        </tr>
        {% endfor %} 
</table>


{%  endblock    %}