
def vacunacion_form_get(request):
    animales = Animal.objects.all()
    return render(request, 'formulario.html', {'animales':animeles})

<form method="POST" action={% url 'vacunacion_form' %} >
    {% csrf_token %}
    <input name='nombre' type='text' />
    <select name='animal'>
        <option value='' disabled >Selecciona un animal</option>
        {% for a in animales %}
        <option value='{{a.nombre}}'>{{a.nombre}}</option>
        {% endfor %}
    </select>
</form>

def vacunacion_form_post(request):
    if request.method == 'POST':
        nombre = request.POST['nombre']
        animal_name = request.POST['animal']
        animal = Animal.objects.get(nombre=animal_name)

        vacunacion = Vacunacion.objects.create(
            nombre = nombre,
            animal = animal,
        )
    return redirect('/')

    <p>{% if animal.disponibleAdopcion %}Disponible{% else %}No disponible{% endif %}</p>